@tailwind screens;

@tailwind base;
@tailwind components;

/*******************Lista medicos **********************/

.listaMedicos ul{
     max-width: 400px;
  margin: 0 auto;
  list-style-type: none;
  counter-reset: steps;
  margin: 0;
  font-family: sans-serif;
}
.listaMedicos ul li {
  padding: 0 0 20px 50px;
  position: relative;
  margin: 0;
}

.listaMedicos ul li:after {
  position: absolute;
  top: 0;
  left: 0;
  content: counter(steps);
  counter-increment: steps;
  border: 2px solid #000;
  border-radius: 50%;
  display: inline-block;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  background: rgb(255, 255, 255);
}
.listaMedicos ul li:before {
  position: absolute;
  left: 13px;
  top: 0;
  content: "";
  height: 100%;
  width: 0;
  border-left: 2px dashed #000;
}
.listaMedicos ul li:last-of-type:before {
  border: none;
}

/*******************LOGIN MODAL **********************/
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
}

   .modal-login {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 700px;
    height: fit-content;

     }

@media (max-width: 768px) {
    
    .modal-login {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 500px;
    height: 400px;

     }

     }

     @media (max-width: 468px) {
    
    .modal-login {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 300px;
    height: 200pxpx;

     }

     }

     .modal-register {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 700px;
    height: fit-content;

     }

@media (max-width: 768px) {
    
    .modal-register {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 500px;
    height: 800px;

     }

     }

     @media (max-width: 468px) {
    
    .modal-register {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 300px;
    height: 200pxpx;

     }

     }

/* Modal Content/Box */



/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.8s;
    animation: animatezoom 0.8s;


}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }

}

/*--------------------CARROUSEL-------------------------------*/

.carousel {

box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.64);

margin-left: 5%;
margin-right: 5%;
padding-top: 80px;


}

.carousel-inner {
position: relative;
overflow: hidden;
width: 100%;
display: block;
margin-right: auto;
margin-left: auto;
justify-items: center;

}

.carousel-open:checked + .carousel-item {
position: static;
opacity: 100;

}

.carousel-item {
position: absolute;
opacity: 0;
-webkit-transition: opacity 1s ease-out;
transition: opacity 1s ease-out;


}

.carousel-item img {
display: block;


}

.carousel-control {
background: rgba(0, 0, 0, 0.28);
border-radius: 50%;
color: #fff;
cursor: pointer;
display: none;
font-size: 40px;
height: 40px;
line-height: 35px;
position: absolute;
top: 50%;
-webkit-transform: translate(0, -50%);
cursor: pointer;
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);
text-align: center;
width: 40px;
z-index: 10;
}

.carousel-control.prev {
left: 2%;
}

.carousel-control.next {
right: 2%;
}

.carousel-control:hover {
background: rgba(0, 0, 0, 0.8);
color: #aaaaaa;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4 {
display: block;
}

.carousel-indicators {
list-style: none;
margin: 0;
padding: 0;
position: absolute;
bottom: 2%;
left: 0;
right: 0;
text-align: center;
z-index: 10;
}

.carousel-indicators li {
display: inline-block;
margin: 0 5px;
}

.carousel-bullet {
color: #fff;
cursor: pointer;
display: block;
font-size: 35px;
}

.carousel-bullet:hover {
color: #aaaaaa;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet {
color: #428bca;
}

#title {
width: 100%;
position: absolute;
padding: 0px;
margin: 0px auto;
text-align: center;
font-size: 27px;
color: rgba(255, 255, 255, 1);
font-family: 'Open Sans', sans-serif;
z-index: 9999;
text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}
/************************************************GRID ARTICLES***************************************************/
.grid-container {
display: grid; 
  grid-template-columns:   1.1fr 1.4fr 0.5fr 1.3fr 0.7fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 0px 0px; 
  margin-left: 5%;
  margin-right: 5%;
  grid-template-areas: 
    "imagenmain imagenmain imagen1 imagen1 imagen2 imagen2"
    "imagenmain imagenmain imagen3 imagen3 imagen4 imagen4"; 
}
.imagenmain { grid-area: imagenmain; }
.imagen1 { grid-area: imagen1; }
.imagen2 { grid-area: imagen2; }
.imagen3 { grid-area: imagen3; }
.imagen4 { grid-area: imagen4; }

@media (max-width: 1024px) {
    
    .grid-container{

        display: block;
     }

     }

#academic{
    display: none;
}

.listaMedicos{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@tailwind utilities;